
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.item {
    padding: 1em;
    margin: 0px;
}

.grid {
    background-color: rgba(0, 0, 0, .1);
    padding: 2em;
    border-radius: 3px;

    display: grid;
    grid-template-areas:
    'key tensions notes seed seed'
    'key tensions notes measure measure'
    'key tensions notes generate generate'
    'output output output output output'
    'output output output output output'
    'controls controls controls controls controls';
    grid-gap: 1.5em;
}

.mini-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    position: relative;
    background-color: rgba(0, 0, 0, .1);
/*    border: solid white 1px;*/
    border-radius: 5px;
    min-width: 10em;
    min-height: 5em;
    padding: 3px;
}
.center {
    text-align: center;
}
.box-name {
    position: absolute;
    top: -2.5em;
/*    transform: translateY(-2.5em);*/
}
label {
    padding: 5px;
}

#quantity{
    padding: 3px 5px 3px 5px;
}


.note, .tension {
    background-color: ;
    width: 100%;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
}
.note:hover, .tension:hover {
    cursor: pointer;
    background-color: white;
    padding: 3px;
}
.third-button {
    width: 30%;
}
.full-button {
    width: 95%;
}




.key {
    grid-area: key;
}
.tensions {
    grid-area: tensions;
}
.notes {
    grid-area: notes;
}
.seed {
    grid-area: seed;
}
.measure {
    grid-area: measure;
}
.generate {
    grid-area: generate;
}
.output {
    grid-area: output;
}
.controls {
    grid-area: controls;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;

}