<!DOCTYPE html>
<html>
<head>
    <title>PyMusicGen</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="container">

        <h1 class="item">PyMusicGen</h1>
        
        <div class="grid">
            <div class="box keys">
                <p class="box-name">Key</p>
                {% for key in keys %}
                    <p class="key" onclick="selectKey(this)" data-value="{{key}}">{{ key }}</p>
                {% endfor %}
                
            </div>
            <div class="box tensions">
                <p class="box-name">Tension</p>
                {% for tension in tensions %}
                    <p class="tension" onclick="selectTension(this)" data-value="{{tension}}">{{ tension }}</p>
                {% endfor %}
            </div>
            <div class="box notes">
                <p class="box-name">Note Duration Freq.</p>

                <div class="mini-grid">
                    <div>
                        <input class="duration" type="checkbox" id="Chord" name="Chord" value="" onclick="selectDuration(this)">
                        <label for="chord">Chord</label>
                    </div>
                    <input type="number" class="frequency freq_chord" name="quantity" min="1" max="50" value=0>
        
                    <div>
                        <input class="duration" type="checkbox" id="32nd" name="32nd" value="" onclick="selectDuration(this)">
                        <label for="32nd">32nd</label>
                    </div>
                    <input type="number" class="frequency freq_32nd" name="quantity" min="1" max="50" value=0>
              
                    <div>
                        <input class="duration" type="checkbox" id="Sixteenth" name="Sixteenth" value="" onclick="selectDuration(this)">
                        <label for="sixteenth">Sixteenth</label>
                    </div>
                    <input type="number" class="frequency freq_sixteenth" name="quantity" min="1" max="50" value=0>
                    
                    <div>
                        <input class="duration" type="checkbox" id="Eighth" name="Eighth" value="" onclick="selectDuration(this)">
                        <label for="Eighth">Eighth</label>
                    </div>
                    <input type="number" class="frequency freq_eighth" name="quantity" min="1" max="50" value=0>

                    <div>
                        <input class="duration" type="checkbox" id="Quarter" name="Quarter" value="" onclick="selectDuration(this)">
                        <label for="Quarter">Quarter</label>
                    </div>
                    <input type="number" class="frequency freq_quarter" name="quantity" min="1" max="50" value=0>
                    
                    <div>
                        <input class="duration" type="checkbox" id="Half" name="Half" value="" onclick="selectDuration(this)">
                        <label for="Half">Half</label>
                    </div>
                    <input type="number" class="frequency freq_half" name="quantity" min="1" max="50" value=0>
                    
                    <div>
                        <input class="duration" type="checkbox" id="Whole" name="Whole" value="" onclick="selectDuration(this)">
                        <label for="Whole">Whole</label>
                    </div>
                    <input type="number" class="frequency freq_whole" name="quantity" min="1" max="50" value=0>
                </div>

            </div>
            <div class="box seed">
                <p class="box-name">Seed (For RNG)</p>
                <div class="center">
                    <button id="random-seed" class="full-button" onclick="randomSeed(this)">Random Seed</button>
                    <input type="text" id="random" value=0>
                </div>

            </div>
            <div class="box measure">
                <p class="box-name">Measure Settings</p>

                <label>Beats/measure</label><input type="number" id="bpmeas" name="quantity" min="1" max="99" value=0><br>

                <label>Beats/minute</label><input type="number" id="bpmin" name="quantity" min="1" max="220" value=0><br>
            </div>
            <div class="box generate">
                <p class="box-name">Generate/Randomize/Reset</p>

                <button onclick="generate()">Generate!</button>
                <button onclick="randomizeAll()">Randomize</button>
                <button onclick="resetAll()">Reset Selection</button>
            </div>
            <div class="box output">
                <p class="box-name">Output Area</p>
            </div>
            <div class="box controls">
                <p class="box-name">Controls</p>
                <div class="center">
                    <button class="third-button">Play Song</button>
                    <button class="third-button">Insert Measure into Song</button>
                    <button class="third-button">Delete Measure from Song</button>
                    
                    <br>

                    <button class="third-button"><- Back One Measure</button>
                    <button class="third-button">Play Measure</button>
                    <button class="third-button">Forward One Measure -></button>
                </div>
            </div>
        </div>
        
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='musicgen.js')}}"></script>
</body>
</html>
