<!DOCTYPE html>
<html>
<head>
    <title>PyMusicGen</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="container">

        <h1 class="item">PyMusicGen</h1>
        
        <div class="grid">
            <div class="box key">
                <p class="box-name">Key</p>
            </div>
            <div class="box tension">
                <p class="box-name">Tension</p>
            </div>
            <div class="box notes">
                <p class="box-name">Note Duration Freq.</p>
            </div>
            <div class="box seed">
                <p class="box-name">Seed (For RNG)</p>
            </div>
            <div class="box measure">
                <p class="box-name">Measure Settings</p>
            </div>
            <div class="box generate">
                <p class="box-name">Generate/Randomize/Reset</p>
            </div>
            <div class="box output">
                <p class="box-name">Output Area</p>
            </div>
            <div class="box controls">
                <p class="box-name">Controls</p>
            </div>
        </div>
        
    </div>
</body>
</html>
